<theme-viewer-color-grid class="mat-elevation-z12"/>
<mat-card-content>
    <mat-divider/>
    <theme-viewer-typography/>
</mat-card-content>
<!--<theme-viewer-buttons class="component-section"></theme-viewer-buttons>-->
<!--<theme-viewer-inputs class="component-section"></theme-viewer-inputs>-->
<!--<theme-viewer-checkboxes class="component-section"></theme-viewer-checkboxes>-->
<!--<theme-viewer-radio-buttons class="component-section"></theme-viewer-radio-buttons>-->
<!--<theme-viewer-slide-toggles class="component-section"></theme-viewer-slide-toggles>-->
<!--<theme-viewer-chips class="component-section"></theme-viewer-chips>-->
<!--<theme-viewer-dialogs class="component-section"></theme-viewer-dialogs>-->
<!--<theme-viewer-snackbars class="component-section"></theme-viewer-snackbars>-->
<!--<theme-viewer-datepickers class="component-section"></theme-viewer-datepickers>-->
<!--<theme-viewer-menus class="component-section"></theme-viewer-menus>-->
<!--<theme-viewer-toolbars class="component-section"></theme-viewer-toolbars>-->
<!--<theme-viewer-tables class="component-section"></theme-viewer-tables>-->
<!--<theme-viewer-cards class="component-section"></theme-viewer-cards>-->
<!--<theme-viewer-progress-bars class="component-section"></theme-viewer-progress-bars>-->
<!--<theme-viewer-spinners class="component-section"></theme-viewer-spinners>-->
<!--<theme-viewer-lists class="component-section"></theme-viewer-lists>-->
<!--<theme-viewer-containers class="component-section"></theme-viewer-containers>-->
<!--<theme-viewer-icons class="component-section"></theme-viewer-icons>-->
