<main>
    @defer (on immediate) {
        <div class="color-palette-header">
            <h1>Color Palettes</h1>
            <div>
                <app-theme-toggle (themeChanged)="updateTheme($event)" />
                <app-color-picker defaultColor="#3494f8" aria-label="Pick an Accent color" (colorChanged)="updateColor($event, 'accent')">
                    Accent
                </app-color-picker>
                <app-color-picker defaultColor="#e8bc2c" aria-label="Pick an Warn color" (colorChanged)="updateColor($event, 'warn')">
                    Warn
                </app-color-picker>
                <app-color-picker defaultColor="#36f45c" aria-label="Pick an Success color" (colorChanged)="updateColor($event, 'success')">
                    Success
                </app-color-picker>
                <app-color-picker defaultColor="#f44336" aria-label="Pick an Error color" (colorChanged)="updateColor($event, 'error')">
                    Error
                </app-color-picker>
            </div>
        </div>
        <div class="split-grid">
            @for (themeType of ['Light', 'Dark']; track themeType) {
                <mat-card [class]="themeType.toLowerCase() + '-themed'" class="mat-app-background">
                    <mat-card-header>
                        <mat-card-title>{{themeType}} Theme</mat-card-title>
                    </mat-card-header>
                    <theme-viewer />
                </mat-card>
            }
        </div>
    }
</main>