
:root {
    --primary-color: #0a84ff;
    --primary-color-darker: #075cb3;
    --primary-color-lighter: #cee6ff;
    --secondary-color: #ff6917;
    --secondary-color-darker: #e65f15;
    --secondary-color-lighter: #ff965d;
}